.page {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    background-color: var(--accent-color);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info {
    transform: translateX(20px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 3;
}

.right {
    flex: 2;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
}

.stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}